<template>
    <div>
      <div class="advert"></div>
      <div class="advert"></div>
    </div>
</template>

<script>
//
  export default {
  }
</script>

<style lang="scss" scoped>
  .advert{
    position: relative;
    left: 15px;
    width: 200px;
    height: 200px;
    background: #dedede;
    margin-top: 20px;
  }
</style>
