<template>
  <md-toolbar class="md-primary">
    <h3 class="md-title">© Copyright</h3>
  </md-toolbar>
</template>

<script>
//
  export default {
  }
</script>

<style lang="scss" scoped>
  .md-primary{
    position: absolute;
    bottom: 0;
  }
</style>
