<template lang="html">
  <div id="mapview" class="mapview">
    <gmap-map
      ref="mapa"
      :center="center"
      :zoom="12"
      style="max-width: 100vw; height: 90vh; margin: 0"
      @rightclick="mapContextMenu(getPos($event.latLng.lat(), $event.latLng.lng()))"
    >

    <gmap-marker
        v-for="(m, index) in markers"
        :key="index"
        :position="m.position"
        :draggable="m.draggable"
        @click="expandMarker(m || currentMarker)"
        @rightclick="markerContextMenu(m || currentMarker)"
      ></gmap-marker>
    </gmap-map>

    <context-menu id="context-menu" ref="menu">
      <li class="cm-item"
        v-for="(item, index) in contextItems"
        :key="index"
        @click="resolveAction(item.action, item.attributes)"
      >{{ item.name }}</li>
    </context-menu>

    <posts
      :marker="postsMarker"
      :showPosts="showPosts"
      @noshow="showPosts = false"
      @show="showPosts = true"
    ></posts>
    <!-- v-bind:showPosts="showPosts" -->
  </div>
</template>

<script>
import {gmapApi} from 'vue2-google-maps'
import contextMenu from 'vue-context-menu'
import posts from './posts.vue'
// import Swal from 'sweetalert2'

export default {
  name: 'mapview',
  components: {
    contextMenu,
    posts,
  },
  computed: {
    google: gmapApi
  },
  data() {
    return {
      center: {lat: -15.7663595475, lng: -47.8787606475},
      markers: [],
      currentMarker: {},  // para manipulacao de marcadores
      postsMarker: {},  // para passar o marcador pra posts
      places: [],
      mapObj: {},
      cm: {},
      contextItems: [],
      showPosts: false,
      // currentPlace: null
    };
  },

  mounted() {
    /* TODO: load database, then: */
    this.geolocate();
    this.$refs.mapa.$mapPromise.then((map) => {
      this.mapObj = map;
      this.cm = this.$refs.menu;
      map.panTo(this.center);
      map.setZoom(17);
      this.currentMarker = this.createMarker(this.center); // cria marcador no local atual
      // console.log("geolocated marker: ", this.currentMarker); // eslint-disable-line no-console

    })
  },

  methods: {
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
      return this.center;
    },
    getPos: function(lat, lng) {
      return {lat, lng}
    },
    createMarker: function(location) {
      this.markers.push({
        index: this.markers.length,
        animation: this.google.maps.Animation.DROP,
        draggable: true,
        position: location,
        xyz: "any tag can carry info",
        posts: []
      });
      return this.markers[this.markers.length - 1];
      // console.log(this.markers[this.markers.length - 1]); // eslint-disable-line no-console
    },
    panTo: function(position) {
      this.mapObj.panTo(position);
      // console.log("map", this.mapObj); // eslint-disable-line no-console
    },
    markerContextMenu: function(m) {
      this.contextItems = [
        {action: "new_post", name: "New Post", attributes: { marker: m }},
        {action: "set_drag", name: "Set Draggable", attributes: { marker: m }}
      ]
      this.cm.open();
      this.cm.ctxTop -= 64; //Temporary fix, the problem is with the navbar
    },
    mapContextMenu: function(location) {
      this.contextItems = [
        {action: "new_marker", name: "New Marker", attributes: { location: location }},
      ]
      this.cm.open();
      this.cm.ctxTop -= 64; //Temporary fix, the problem is with the navbar
    },
    setDraggable: function(marker, bool = null) {
      marker.draggable = bool || !marker.draggable;
      // console.log(`altered marker ${marker.index}: draggable = ${marker.draggable}`, marker); // eslint-disable-line no-console
    },
    resolveAction: function(action, attributes = null) {
      switch (action) {
        case 'new_marker':
          this.createMarker(attributes.location);
          break;
        case 'new_post':
          this.expandMarker(attributes.marker);
          break;
        case 'set_drag':
          this.setDraggable(attributes.marker);
          break;
        default:
      }
    },
    expandMarker: function(marker) {
      this.panTo(marker.position);
      this.postsMarker = marker;
      this.showPosts = true;
    },
    log: function(e) {
      console.log(e); // eslint-disable-line no-console
    },
  }
}
</script>

<style>
.mapview {
  margin: 0;
  padding: 0px;
}

.ctx-menu-container {
  border: none;
}

.cm-item:hover {
  background-color: #448aff70;
}
</style>
