<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary">
        <md-button class="md-icon-button" @click="toggleMenu">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">Nome do Site (do lado esquerdo do nome vai ficar a logo)</span>
          <login></login>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible" md-permanent="clipped">
        <md-toolbar class="md-transparent" md-elevation="0">
          <!-- <span>Campo de Busca</span>

          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button md-dense" @click="toggleMenu">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div> -->
          <search></search>
        </md-toolbar>
        <md-list>
          <Advertisement></Advertisement>
        </md-list>
        <!-- //fjksdjfgsdjgdfgjdp -->
        <sidebar></sidebar>
        <Footer></Footer>
      </md-app-drawer>
      <md-app-content>
        <mapview></mapview>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
import mapview from './mapview.vue'
import login from './login.vue'
import Footer from './footer.vue'
import Advertisement from './advertisement.vue'
import sidebar from './sidebar.vue'
import search from './search.vue'
//
  export default {

    name: 'PersistentFull',
    data: () => ({
      menuVisible: false
    }),
    methods: {
      toggleMenu () {
        this.menuVisible = !this.menuVisible
      }
    },

    components: {
      mapview,
      login,
      Footer,
      Advertisement,
      sidebar,
      search,
    }
  }
</script>

<style lang="scss" scoped>
  html, body {
    margin: 0;
    padding: 0;
  }

  .md-app-content {
    min-height: 350px;
    margin:  0 !important;
    padding: 0 !important;
    // border: 1px solid rgba(#000, .12);
  }
  //
   // Demo purposes only
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }
  #navbar {
    /* height: 10vh; */
  }

  @media (max-width:960px){
      .md-toolbar,.md-toolbar-row{
          min-height: 69px !important
      }
      .md-toolbar{
          padding:0 8px !important
      }
      .md-toolbar .md-toolbar-offset{
          margin-left: 69px !important
      }
      .md-toolbar .md-button~.md-title,.md-toolbar .md-icon~.md-title{
          margin-left:16px !important
      }
  }

  .md-toolbar,.md-toolbar-row{
    width:100%;
    min-height:69px !important;
    display:flex;
    align-items:center;
    align-content:center;
    transition:.3s cubic-bezier(.4,0,.2,1);
    transition-property:opacity,background-color,box-shadow,transform,color,min-height;
    will-change:opacity,background-color,box-shadow,transform,color,min-height
}

// @media (min-width:600px){
//     .md-drawer:not(.md-temporary)~.md-overlay{
//         background:none;
//         pointer-events:none
//     }
//     .md-drawer.md-permanent{
//         position: fixed !important;
//         transform:translate3D(0,0,0) !important
//     }
//     .md-drawer.md-active{
//         transform:translate3D(0,0,0);
//         transition-timing-function:cubic-bezier(.4,0,.2,1)
//     }
//     .md-drawer.md-permanent-full{
//         z-index:3
//     }
//     .md-drawer.md-permanent-full .md-list{
//         padding-top:0
//     }
//     .md-drawer.md-permanent-card,.md-drawer.md-permanent-clipped{
//         z-index:1;
//         transform:translate3D(0,0,0);
//         transition-timing-function:cubic-bezier(.4,0,.2,1)
//     }
//     .md-drawer.md-permanent-card{
//         box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
//         position:relative;
//         border-radius:2px;
//         transition:.3s cubic-bezier(.4,0,.2,1);
//         transition-property:color,background-color;
//         will-change:color,background-color;
//         margin:8px;
//         z-index:1
//     }
// }

  // #map-web {
  //   width: 80vw;
  //   position: absolute;
  //   /* top: 0; */
  //   right: 0;
  //   bottom: 0;
  // }

  // #sidebar-web {
  //   position: absolute;
  //   height: inherit;
  //   width: 20vw;
  //   height: 90vh;
  //   z-index: 1;
  // }
</style>
