<template>
  <div>
    <md-dialog :md-active.sync="show">
      <md-dialog-title>Post</md-dialog-title>

      <md-tabs md-dynamic-height>
        <md-tab md-label="All posts" class="md-scrollbar">
          <md-content class="md-scrollbar post-list">
            <h4>Total: {{ postsLength }}</h4>

            <!-- TODO arrumar este template para exibir os posts em tabela -->

            <post
              v-for="p in marker.posts"
              :key="p.id"
              :post="p"
            ></post>
          </md-content>
        </md-tab>

        <md-tab md-label="Create post">
          <form class="new-post" @submit.prevent="addPost()">
            <input type="text" name="Title" placeholder="title" v-model="postForm.title">
            <input type="text" name="Story" placeholder="story" v-model="postForm.story">
            <md-button type="submit" class="md-primary">Create post</md-button>
          </form>
        </md-tab>
      </md-tabs>

      <md-dialog-actions>
        <md-button class="md-primary" @click="show = false">Close</md-button>
        <!-- <md-button class="md-primary" @click="showDialog = false">Save</md-button> -->
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
import post from './post.vue'

  export default {
    name: 'postsDialog',
    props: ['marker', 'showPosts'],
    components: {
      post,
    },
    data() {
      return {
        currentMarker: {},
        show: false,
        postForm: {
          title: '',
          dateOfStory: '',
          story: '',
          media: {
            image: [],
            audio: [],
            video: [],
          },
          people: {},
          visibility: '',
        },
        postsLength: 0,
      };
    },
    mounted() {
      // console.log(this.marker); // eslint-disable-line no-console
      // this.getPosts(this.marker);
      // this.getPosts(this.currentMarker);
    },
    watch: {
      marker: function(newVal) {
        this.currentMarker = newVal;
        this.postsLength = newVal.posts.length;
      },
      showPosts: function(newVal) {
        if(newVal == true) {
          this.show = newVal;
        }
        else {
          this.show = newVal;
        }

      },
      show: function(newVal) {
        if(newVal == false) {
          this.$emit('noshow');
        }
        else {
          this.$emit('show');
        }
      }
    },
    methods: {
      getPosts(posts) {
        console.log(posts); // eslint-disable-line no-console
      },
      getMarker(marker) {
        this.currentMarker = marker;
      },
      addPost: function() {
        this.currentMarker.posts.push({
          id: Math.floor(Math.random() * 999999999), //TODO make better id function
          title: this.postForm.title,
          author: "Profile",
          datePublished: "Date published", //Data de publicação
          dateOfStory: "Date of story", //Data de ocorrência da história
          people: "[Profile]", //Pessoas que participaram da história
          story: this.postForm.story, //deve ter alguma forma melhor de guardar a história
          media: "mídia",
          rating: 8, //"classificação indicativa"
          ranking: 0, //"likes"
          visibility: "Privacy", //Varia entre privado/amigos/público
          views: 0, //view count
        });
        this.postsLength++;
      },
    }
  }

/*
post: {
  id: index,
  title: String,
  author: Profile,
  datePublished: Date, //Data de publicação
  dateOfStory: Date, //Data de ocorrência da história
  people: [Profile], //Pessoas que participaram da história
  story: String, //deve ter alguma forma melhor de guardar a história
  photo: [url],
  audio: [url],
  video: [url],
  rating: Integer, //"classificação indicativa"
  ranking: Integer, //"likes"
  visibility: Privacy, //Varia entre privado/amigos/público
  views: Integer, //view count

}
*/
</script>

<style lang="scss" scoped>
  .md-dialog {
    max-width: 768px;
  }

  .post-list {
      max-width: 400px;
      max-height: 200px;
      overflow: auto;
    }
</style>
