<template>
  <div>
    <!-- TODO arrumar esse template para mostrar um post -->
    <!-- {{postEl}} -->
    <h3>{{ postEl.title }}</h3>
    <p>{{ postEl.story }}</p>
  </div>
</template>

<script>
  export default {
    name: 'post',
    props: ['post'],
    data() {
      return {
        postEl: this.post,
      };
    },
    methods: {
      getPost(post) {
        console.log(post); // eslint-disable-line no-console
      }
    }
  }

</script>

<style lang="scss" scoped>
  .md-dialog {
    max-width: 768px;
  }
</style>
