<template lang="html">
  <div>
    <input type="text" placeholder="Busca">
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  }
</style>
